@using Massdrop.Controllers;


@{
    ViewBag.Title = "Sign up or login";
}


<section class="category">
    <div class="ultralightcategory">
        <a href="#" data-toggle="modal" data-target="#MailModal" class="s-ultralight">Ultralight</a>
    </div>
    <div class="audophilecategory">
        <a href="#" data-toggle="modal" data-target="#MailModal" class="s-audiophile">Audiophile</a>
    </div>
    <div class="mechanicalcategory">
        <a href="#" data-toggle="modal" data-target="#MailModal" class="s-mechanical">Mechanical Keyboards</a>
    </div>
    <div class="proaudiocategory">
        <a href="#" data-toggle="modal" data-target="#MailModal" class="s-proaudio">Pro Audio</a>
    </div>
    <div class="hobbyshopcategory">
        <a href="#" data-toggle="modal" data-target="#MailModal" class="s-hobbyshop">Hobby Shop</a>
    </div>
    <div class="stylecategory">
        <a href="#" data-toggle="modal" data-target="#MailModal" class="s-style">Men's Style</a>
    </div>
    <div class="everydaycategory">
        <a href="#" data-toggle="modal" data-target="#MailModal" class="s-everyday">Everyday Carry</a>
    </div>
    <div class="quiltingcategory">
        <a href="#" data-toggle="modal" data-target="#MailModal" class="s-quilting">Quilting</a>
    </div>
    <div class="techcategory">
        <a href="#" data-toggle="modal" data-target="#MailModal" class="s-tech">Tech</a>
    </div>
    <div class="writingcategory">
        <a href="#" data-toggle="modal" data-target="#MailModal" class="s-writing">Writing</a>
    </div>
    <div class="photocategory">
        <a href="#" data-toggle="modal" data-target="#MailModal" class="s-photo">Photography</a>
    </div>
    <div class="rccategory">
        <a href="#" data-toggle="modal" data-target="#MailModal" class="s-rc">RC Cars</a>
    </div>
    <div class="autocategory">
        <a href="#" data-toggle="modal" data-target="#MailModal" class="s-auto">Auto</a>
    </div>
</section>