.devider {
    margin-top: 20px;
    margin-bottom: 20px;
}

.home_nav {
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 30;
    padding-right: 5px;
}

.glyphicon.adjusted {
    margin-top: 4px;
}

.watermark {
    color: #768f9f;
    margin-right: 1.125rem;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    background-image: url(../../Content/Images/watermark.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100px;
    height: 80px;
}

.btn-secondary.login {
    border-radius: 3px;
    min-width: 46px;
    min-height: 24px;
    position: static;
    top: auto;
    right: auto;
    border: .05px solid #768f9f;
    color: #768f9f;
    background-color: transparent;
    margin-right: 1.5rem;
    padding: 7px 20px;
}

.btn-secondary.outline {
    border: .05px solid #8dd8ec;
}

.btn-primary.facebook {
    background-color: #3b5998;
    border-radius: 3px;
    font-size: 14px;
    padding: 17px 48px;
    margin-left: 12px;
    border-color: #3b5998;
}

    .btn-primary.facebook:hover {
        background: rgb(45, 67, 115);
    }

.btn-primary.email {
    border-radius: 3px;
    font-size: 14px;
    padding: 17px 83px;
    background-color: #00aeda;
    border-color: #00aeda;
}

.btn-primary.modalButton {
    width: 100%;
    border-color: #00aeda;
    padding: 15px 83px;
    margin-top: 20px;
}

.btn-secondary.email {
    border-radius: 3px;
    font-size: 14px;
    padding: 17px 83px;
}

.category a:hover {
    background: rgba(5, 5, 5, 0.7);
    color: #fff;
    text-decoration: none;
}

.category a {
    text-decoration: none;
}

.category {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 2.5rem;
    text-align: center;
    position: relative;
    height: 896px;
    max-width: 1018px;
    margin-left: auto;
    margin-right: auto;
}

.categorywrapper {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 2.5rem;
    text-align: center;
    display: block;
    position: relative;
    letter-spacing: 1px;
    cursor: auto;
    font-size: 16px;
    text-decoration: none;
}

.categorytitle {
    color: #3f3f3f;
    font-size: 32px;
    margin-bottom: 10px;
}

.categorysubtitle {
    letter-spacing: 0;
    padding-bottom: 25px;
}

.category-signup {
    text-align: center;
    box-sizing: inherit;
}

.signup-title {
    color: #3f3f3f;
    font-size: 32px;
    margin-bottom: .5rem;
}

.signup-subtitle {
    letter-spacing: 0;
    margin-bottom: 2.5rem;
}

.ultralightcategory {
    position: absolute;
    margin-bottom: 24px;
    left: 0px;
    top: 0px;
    width: 494px;
    height: 200px;
    background-image: url(../../Content/Images/ultralight.jpg);
}

.s-ultralight {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(18, 18, 18, 0.5);
    top: 0;
    left: 0;
    z-index: 60;
    color: #fff;
    line-height: 18.5rem;
}

.audophilecategory {
    position: absolute;
    margin-bottom: 24px;
    left: 518px;
    top: 0px;
    width: 235px;
    height: 200px;
    background-image: url(../../Content/Images/audiophile.jpg);
}

.s-audiophile {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(18, 18, 18, 0.5);
    top: 0;
    left: 0;
    z-index: 60;
    color: #fff;
    line-height: 18.5rem;
}

.mechanicalcategory {
    position: absolute;
    margin-bottom: 24px;
    left: 777px;
    top: 0px;
    width: 235px;
    height: 200px;
    background-image: url(../../Content/Images/mechanicalkeyboards.jpg);
}

.s-mechanical {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(18, 18, 18, 0.5);
    top: 0;
    left: 0;
    z-index: 60;
    color: #fff;
    line-height: 18.5rem;
}

.proaudiocategory {
    position: absolute;
    margin-bottom: 24px;
    left: 0px;
    top: 224px;
    width: 235px;
    height: 200px;
    background-image: url(../../Content/Images/proaudio.jpg);
}

.s-proaudio {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(18, 18, 18, 0.5);
    top: 0;
    left: 0;
    z-index: 60;
    color: #fff;
    line-height: 18.5rem;
}

.hobbyshopcategory {
    position: absolute;
    margin-bottom: 24px;
    left: 259px;
    top: 224px;
    width: 235px;
    height: 200px;
    background-image: url(../../Content/Images/hobbyshop.jpg);
}

.s-hobbyshop {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(18, 18, 18, 0.5);
    top: 0;
    left: 0;
    z-index: 60;
    color: #fff;
    line-height: 18.5rem;
}

.stylecategory {
    position: absolute;
    margin-bottom: 24px;
    left: 518px;
    top: 224px;
    width: 235px;
    height: 424px;
    background-image: url(../../Content/Images/mensstyle.jpg);
}

.s-style {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(18, 18, 18, 0.5);
    top: 0;
    left: 0;
    z-index: 60;
    color: #fff;
    line-height: 40.5rem;
}

.everydaycategory {
    position: absolute;
    margin-bottom: 24px;
    left: 777px;
    top: 224px;
    width: 235px;
    height: 200px;
    background-image: url(../../Content/Images/edc.jpg);
}

.s-everyday {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(18, 18, 18, 0.5);
    top: 0;
    left: 0;
    z-index: 60;
    color: #fff;
    line-height: 18.5rem;
}

.quiltingcategory {
    position: absolute;
    margin-bottom: 24px;
    left: 0px;
    top: 448px;
    width: 235px;
    height: 200px;
    background-image: url(../../Content/Images/quilting.jpg);
}

.s-quilting {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(18, 18, 18, 0.5);
    top: 0;
    left: 0;
    z-index: 60;
    color: #fff;
    line-height: 18.5rem;
}

.techcategory {
    position: absolute;
    margin-bottom: 24px;
    left: 259px;
    top: 448px;
    width: 235px;
    height: 200px;
    background-image: url(../../Content/Images/tech.jpg);
}

.s-tech {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(18, 18, 18, 0.5);
    top: 0;
    left: 0;
    z-index: 60;
    color: #fff;
    line-height: 18.5rem;
}

.writingcategory {
    position: absolute;
    margin-bottom: 24px;
    left: 777px;
    top: 448px;
    width: 235px;
    height: 200px;
    background-image: url(../../Content/Images/writing.jpg);
}

.s-writing {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(18, 18, 18, 0.5);
    top: 0;
    left: 0;
    z-index: 60;
    color: #fff;
    line-height: 18.5rem;
}

.photocategory {
    position: absolute;
    margin-bottom: 24px;
    left: 0px;
    top: 672px;
    width: 494px;
    height: 200px;
    background-image: url(../../Content/Images/photography.jpg);
}

.s-photo {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(18, 18, 18, 0.5);
    top: 0;
    left: 0;
    z-index: 60;
    color: #fff;
    line-height: 18.5rem;
}

.rccategory {
    position: absolute;
    margin-bottom: 24px;
    left: 518px;
    top: 672px;
    width: 235px;
    height: 200px;
    background-image: url(../../Content/Images/rccars.jpg);
}

.s-rc {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(18, 18, 18, 0.5);
    top: 0;
    left: 0;
    z-index: 60;
    color: #fff;
    line-height: 18.5rem;
}

.autocategory {
    position: absolute;
    margin-bottom: 24px;
    left: 777px;
    top: 672px;
    width: 235px;
    height: 200px;
    background-image: url(../../Content/Images/auto.jpg);
    background-repeat: no-repeat;
}

.s-auto {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(18, 18, 18, 0.5);
    top: 0;
    left: 0;
    z-index: 60;
    line-height: 18.5rem;
    font-size: 16px;
}
