
@{
    ViewBag.Title = "UserView";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<div class="page-container">
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                <h3 style="margin-left: 15px; font-weight: 800;">MY SETTINGS</h3>
                <ul class="nav">
                    <li class="sideText"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-user pull-right"></span>User Info</a></li>
                    <li class="sideText"><a href="#shipping" aria-controls="shipping" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-book pull-right"></span> Shipping Adresses</a></li>
                </ul>
            </div>

            <div class="Content-Wrapper">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <div class="panel panel-default adjusted top">
                            <div class="panel-heading"><h4>Basic</h4></div>
                            <div class="panel-body">
                                <div class="panel-wrapper">
                                    <form>
                                        <div class="form-group row adjusted" style="height: 38px;">
                                            <label for="inputPassword3" class="col-sm-2 form-control-label adjusted">Username</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="inputPassword3" placeholder="Username">
                                            </div>
                                        </div>

                                        <div class="form-group row adjusted">
                                            <label for="inputPassword3" class="col-sm-2 form-control-label adjusted">Full Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="inputPassword3" placeholder="Full Name">
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>

                        <div class="panel panel-default adjusted">
                            <div class="panel-heading">
                                <h3 class="panel-title">Email & Password</h3>
                            </div>
                            <div class="panel-body">
                                <div class="panel-wrapper">
                                    <div class="form-group row adjusted">
                                        <label for="InputEmail2" class="col-sm-2 form-control-label adjusted">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                                        </div>
                                    </div>

                                    <div class="form-group row adjusted">
                                        <label for="inputPassword3" class="col-sm-2 form-control-label adjusted">Old Password</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control adjusted" id="inputPassword3">
                                        </div>
                                    </div>

                                    <div class="form-group row adjusted">
                                        <label for="inputPassword3" class="col-sm-2 form-control-label adjusted">New Password</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control adjusted" id="inputPassword3"
                                                   placeholder="Please enter a new password">
                                        </div>
                                    </div>

                                    <div class="form-group row adjusted ">
                                        <label for="inputPassword3" class="col-sm-2 form-control-label adjusted">Retype new password</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control adjusted" id="inputPassword3"
                                                   placeholder="Confirm your new password">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="buttongroup">
                            <a class="btn btn-sm btn-primary" style="background: #00aeda; border-color: #00aeda; margin-right: 15px; width: 96px;" href="#" role="button">SAVE</a>
                            <a class="btn btn-sm btn-secondary" style="border: .05px solid #8dd8ec; " href="#" role="button">
                                CANCEL
                            </a>
                        </p>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="shipping">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="panel panel-default adjusted top">
                                <div class="panel-heading"><h4>Shipping Addresses</h4></div>
                                <div class="panel-body">
                                    <div class="panel-wrapper adjusted">
                                        <form>
                                            <div class="ShippingInfo">
                                                <h4>test</h4>
                                                <h5>tst, test</h5>
                                                <h5>test, TN test US</h5>
                                            </div>
                                            <div class="ShippingButtons">
                                                <button type="button" class="btn btn-danger">Delete</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <p class="buttongroup">
                                <a class="btn btn-sm btn-primary" style="background: #00aeda; border-color: #00aeda; margin-right: 15px; width: 96px;" href="#newShipping" aria-controls="newShipping" role="tab" data-toggle="tab">ADD</a>
                            </p>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="newShipping">
                        <div class="panel panel-default adjusted top">
                            <div class="panel-heading"><h4>New Shipping Address</h4></div>
                            <div class="panel-body">
                                <div class="panel-wrapper">
                                    <form>
                                        <div class="form-group row adjusted" style="height: 38px;">
                                            <label for="Input" class="col-sm-2 form-control-label adjusted">Country</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="Input" placeholder="Country">
                                            </div>
                                        </div>

                                        <div class="form-group row adjusted" style="height: 38px;">
                                            <label for="Input" class="col-sm-2 form-control-label adjusted adjusted">Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="Input" placeholder="Name">
                                            </div>
                                        </div>

                                        <div class="form-group row adjusted" style="height: 38px;">
                                            <label for="Input" class="col-sm-2 form-control-label adjusted">Address</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="Input" placeholder="Address">
                                            </div>
                                        </div>

                                        <div class="form-group row adjusted" style="height: 38px;">
                                            <label for="Input" class="col-sm-2 form-control-label adjusted">City</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="Input" placeholder="City">
                                            </div>
                                        </div>


                                        <div class="form-group row adjusted" style="height: 38px;">
                                            <label for="Input" class="col-sm-2 form-control-label adjusted">Postalcode</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="Input" placeholder="Postalcode">
                                            </div>
                                        </div>


                                        <div class="form-group row adjusted" style="height: 38px;">
                                            <label for="Input" class="col-sm-2 form-control-label adjusted">Phone Number</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="Input" placeholder="Phone Number">
                                            </div>
                                        </div>
                                    </form>
                                    <p class="buttongroup">
                                        <a class="btn btn-sm btn-primary" style="background: #00aeda; border-color: #00aeda; margin-right: 15px; width: 96px;" href="#shipping" aria-controls="shipping" role="tab" data-toggle="tab">SAVE</a>
                                        <a class="btn btn-sm btn-secondary" style="border: .05px solid #8dd8ec; " border-color: #00aeda; margin-right: 15px; width: 96px;" href="#shipping" aria-controls="shipping" role="tab" data-toggle="tab">CANCEL</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function ChangeToUser() {

    }

    function ChangeToShipping() {

    }
</script>

