@{
    ViewBag.Title = "ProductView";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

@{
    var CategoryName = (String)ViewData["CategoryName"];
    var UserName = (String)ViewData["Name"];
    var ProductList = (List<Massdrop.Models.Massdrop>)ViewData["ProductList"];
}

<div class="Massdrops">
    <header class="Account_info">
        <div class="Account_info_wrapper">
            <img class="user_avatar" src="https://graph.facebook.com/1640960789451342/picture?width=300&height=300" style="width: 68px; height: 68px;" />
            <div class="Community_Header">
                <h1 class="Community_Name" style="font-weight: 700">Hey @UserName! - Discover Drops - @CategoryName</h1>
            </div>
        </div>
    </header>
    <div class="row adjusted">
        @foreach (Massdrop.Models.Massdrop massdrop in ProductList)
        {
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src=@massdrop.Product.ImageUrl>
                    <div class="caption">
                        <h3>@massdrop.Product.Name</h3>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:50%;">
                                Normal Price
                            </div>
                            <div class="progress-bar progress-bar-warning" role="progressbar" style="width:20%">
                                Discount
                            </div>
                            <div class="progress-bar progress-bar-success" role="progressbar" style="width:30%">
                                More Discount
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>

